# Download the latest version. See below for other installation methods.
source_url "https://github.com/tmatilai/direnv-1password/raw/v1.0.0/1password.sh" \
    "sha256-EGpCcHQA5inHmMmkvj+TqIjPeNzzvG4F+BUXfFKb1c0="

# NOTE op signin --account nf-core
OP_ACCOUNT=nf-core

dotenv_if_exists
from_op <<OP
    SOURCES__SLACK_PIPELINE__SLACK__API_TOKEN=op://Dev/Slack app - dlt Bot token/credential
OP